.about-me-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.about-me-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.about-me-desktop-menu {
  display: flex;
}
.about-me-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-me-navlink {
  text-decoration: none;
}
.about-me-navlink1 {
  margin-left: 32px;
  text-decoration: none;
}
.about-me-navlink2 {
  margin-left: 32px;
  text-decoration: none;
}
.about-me-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.about-me-icon {
  width: 16px;
  height: 16px;
}
.about-me-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.about-me-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-me-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.about-me-navlink3 {
  display: contents;
}
.about-me-text1 {
  text-decoration: none;
}
.about-me-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-me-icon02 {
  width: 16px;
  height: 16px;
}
.about-me-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-me-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-me-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-me-navlink6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-me-container2 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.about-me-icon-group {
  display: flex;
}
.about-me-icon04 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.about-me-icon06 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.about-me-icon08 {
  width: 16px;
  height: 16px;
}
.about-me-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-me-text2 {
  line-height: 1.55;
  padding-right: var(--dl-space-space-unit);
}
.about-me-text3 {
  width: 22rem;
  height: 5rem;
}
.about-me-container4 {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 100%;
  align-self: center;
  align-items: flex-start;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.about-me-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 300px;
  display: flex;
  max-width: 50%;
  align-items: center;
  justify-content: center;
}
.about-me-lottie {
  width: 50%;
  height: 100%;
}
.about-me-lottie-node {
  width: 50%;
  height: 100%;
}
.about-me-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: 300px;
  display: flex;
  max-width: 50%;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-me-lottie-node1 {
  width: 50%;
  height: 100%;
}
.about-me-lottie-node2 {
  width: 50%;
  height: 100%;
}
.about-me-container7 {
  flex: 0 0 auto;
  width: 50%;
  height: 60%;
  display: flex;
  align-self: center;
  padding-top: var(--dl-space-space-doubleunit);
  justify-content: center;
}
.about-me-text4 {
  line-height: 1.55;
}
@media(max-width: 1200px) {
  .about-me-container4 {
    width: 100%;
  }
}
@media(max-width: 991px) {
  .about-me-container4 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .about-me-navbar-interactive {
    padding-left: 32px;
    padding-right: 32px;
  }
  .about-me-desktop-menu {
    display: none;
  }
  .about-me-navlink1 {
    margin-left: var(--dl-space-space-unit);
  }
  .about-me-navlink2 {
    margin-left: var(--dl-space-space-unit);
  }
  .about-me-burger-menu {
    display: flex;
  }
  .about-me-container4 {
    width: 100%;
  }
  .about-me-container5 {
    align-content: center;
  }
  .about-me-lottie-node1 {
    width: 307px;
    height: 303px;
  }
}
@media(max-width: 479px) {
  .about-me-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .about-me-mobile-menu {
    padding: 16px;
  }
  .about-me-container3 {
    width: 80%;
    height: 200px;
    max-width: 80%;
    align-items: baseline;
  }
  .about-me-container4 {
    width: 100%;
    padding-top: var(--dl-space-space-quadruple);
    flex-direction: column;
  }
  .about-me-container5 {
    max-width: 100%;
  }
  .about-me-lottie {
    width: 238px;
    height: 266px;
  }
  .about-me-lottie-node {
    width: 238px;
    height: 271px;
  }
  .about-me-container6 {
    max-width: 100%;
  }
  .about-me-lottie-node1 {
    width: 225px;
    height: 245px;
  }
  .about-me-lottie-node2 {
    width: 223px;
    height: 255px;
  }
}
