.outline-button-container {
  display: flex;
  position: relative;
}
.outline-button-button {
  color: var(--dl-color-gray-black);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-primary-100);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-white);
}
.outline-button-root-class-name {
  align-self: center;
}

.index-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.index-top-container {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: linear-gradient(180deg, rgb(189, 195, 199) 0.00%,rgba(255, 255, 255, 0.51) 100.00%),url("public/charity%20img%20banner-1500w.jpg");
  background-position: 0% 40%;
  background-blend-mode: hard-light;
}
.index-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.index-desktop-menu {
  display: flex;
}
.index-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.index-navlink {
  text-decoration: none;
}
.index-navlink1 {
  margin-left: 32px;
  text-decoration: none;
}
.index-navlink2 {
  margin-left: 32px;
  text-decoration: none;
}
.index-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.index-icon {
  width: 16px;
  height: 16px;
}
.index-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.index-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.index-navlink3 {
  display: contents;
}
.index-text01 {
  text-decoration: none;
}
.index-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-icon02 {
  width: 16px;
  height: 16px;
}
.index-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.index-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.index-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.index-navlink6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.index-container02 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.index-icon-group {
  display: flex;
}
.index-icon04 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.index-icon06 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.index-icon08 {
  width: 16px;
  height: 16px;
}
.index-hero {
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-self: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  align-content: center;
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.index-text04 {
  font-size: 3rem;
  align-self: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.index-text05 {
  align-self: center;
}
.index-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.index-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.index-subheading {
  align-self: center;
}
.index-text07 {
  align-self: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.index-main {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-quadruple);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-quadruple);
  justify-content: flex-start;
}
.index-text10 {
  align-self: flex-start;
  text-align: center;
}
.index-text11 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
  text-align: center;
}
.index-cards-container {
  width: 100%;
  display: flex;
  grid-gap: var(--dl-space-space-doubleunit);
  position: relative;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.index-container05 {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.index-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: 0.3s;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.index-image:hover {
  left: 500px;
  color: var(--dl-color-gray-900);
}
.index-container06 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.index-text12 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.index-text13 {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.index-link {
  display: contents;
}
.index-component {
  text-decoration: none;
}
.index-container07 {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.index-image01 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.index-container08 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.index-text14 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.index-text15 {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.index-link01 {
  display: contents;
}
.index-component01 {
  text-decoration: none;
}
.index-container09 {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.index-image02 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.index-container10 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.index-text16 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.index-text17 {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.index-link02 {
  display: contents;
}
.index-component02 {
  text-decoration: none;
}
.index-container11 {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.index-image03 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.index-container12 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.index-text18 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.index-text19 {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.index-link03 {
  display: contents;
}
.index-component03 {
  text-decoration: none;
}
.index-container13 {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.index-image04 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.index-container14 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.index-text20 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.index-text21 {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.index-link04 {
  display: contents;
}
.index-component04 {
  text-decoration: none;
}
.index-container15 {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.index-image05 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.index-container16 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.index-text22 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.index-text23 {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.index-link05 {
  display: contents;
}
.index-component05 {
  text-decoration: none;
}
.index-cards-container1 {
  width: 100%;
  display: flex;
  grid-gap: var(--dl-space-space-doubleunit);
  position: relative;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.index-container17 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.index-container18 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.index-container19 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.index-container20 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.index-container21 {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.index-image06 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.index-container22 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.index-text24 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.index-text25 {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.index-link06 {
  display: contents;
}
.index-component06 {
  text-decoration: none;
}
.index-container23 {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.index-image07 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.index-container24 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.index-text26 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.index-text27 {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.index-link07 {
  display: contents;
}
.index-component07 {
  text-decoration: none;
}
.index-container25 {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.index-image08 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.index-container26 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.index-text28 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.index-text29 {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.index-link08 {
  display: contents;
}
.index-component08 {
  text-decoration: none;
}
.index-container27 {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.index-image09 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.index-container28 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.index-text30 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.index-text31 {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.index-link09 {
  display: contents;
}
.index-component09 {
  text-decoration: none;
}
.index-container29 {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.index-image10 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.index-container30 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.index-text32 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.index-text33 {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.index-link10 {
  display: contents;
}
.index-component10 {
  text-decoration: none;
}
.index-container31 {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.index-image11 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.index-container32 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.index-text34 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.index-text35 {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.index-link11 {
  display: contents;
}
.index-component11 {
  text-decoration: none;
}
.index-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.index-menu {
  width: 50%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.index-navlink7 {
  width: 100%;
  margin-left: var(--dl-space-space-doubleunit);
  margin-bottom: 0px;
  text-decoration: none;
}
.index-container33 {
  flex: 0 0 auto;
  width: 240px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.index-navlink8 {
  width: 100rem;
  padding-left: 0px;
  padding-right: 0px;
  text-decoration: none;
}
.index-links-container {
  width: 240px;
  display: flex;
  align-items: center;
  margin-right: 17px;
  flex-direction: row;
  justify-content: space-between;
}
.index-container34 {
  width: 99px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.index-follow-container {
  display: flex;
  align-items: center;
  margin-left: 50px;
  flex-direction: column;
  justify-content: space-between;
}
.index-text36 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.index-icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.index-icon10 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.index-icon12 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.index-icon14 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
@media(max-width: 1200px) {
  .index-text04 {
    font-size: 3rem;
    font-family: Poppins;
    font-weight: 700;
    line-height: 1.55;
    text-transform: none;
    text-decoration: none;
  }
  .index-menu {
    width: 100%;
  }
}
@media(max-width: 991px) {
  .index-hero {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .index-cards-container {
    justify-content: center;
  }
  .index-cards-container1 {
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .index-navbar-interactive {
    padding-left: 32px;
    padding-right: 32px;
  }
  .index-desktop-menu {
    display: none;
  }
  .index-navlink1 {
    margin-left: var(--dl-space-space-unit);
  }
  .index-navlink2 {
    margin-left: var(--dl-space-space-unit);
  }
  .index-burger-menu {
    display: flex;
  }
  .index-hero {
    justify-content: center;
  }
  .index-text07 {
    text-align: center;
  }
  .index-main {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .index-container05 {
    width: 200px;
  }
  .index-container07 {
    width: 200px;
  }
  .index-container09 {
    width: 200px;
  }
  .index-container11 {
    width: 200px;
  }
  .index-container13 {
    width: 200px;
  }
  .index-container15 {
    width: 200px;
  }
  .index-container21 {
    width: 200px;
  }
  .index-container23 {
    width: 200px;
  }
  .index-container25 {
    width: 200px;
  }
  .index-container27 {
    width: 200px;
  }
  .index-container29 {
    width: 200px;
  }
  .index-container31 {
    width: 200px;
  }
  .index-menu {
    flex-direction: column;
  }
  .index-navlink7 {
    width: 17rem;
    margin-top: var(--dl-space-space-tripleunit);
    margin-left: 138px;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .index-navlink8 {
    padding-left: 55px;
    padding-right: 55px;
  }
  .index-links-container {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .index-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .index-mobile-menu {
    padding: 16px;
  }
  .index-navlink4 {
    text-decoration: none;
  }
  .index-navlink5 {
    text-decoration: none;
  }
  .index-text04 {
    font-size: 2.5rem;
  }
  .index-subheading {
    font-size: 1.3rem;
    text-align: center;
  }
  .index-container05 {
    width: 300px;
  }
  .index-container07 {
    width: 300px;
  }
  .index-container09 {
    width: 300px;
  }
  .index-container11 {
    width: 300px;
  }
  .index-container13 {
    width: 300px;
  }
  .index-container15 {
    width: 300px;
  }
  .index-container21 {
    width: 300px;
  }
  .index-container23 {
    width: 300px;
  }
  .index-container25 {
    width: 300px;
  }
  .index-container27 {
    width: 300px;
  }
  .index-container29 {
    width: 300px;
  }
  .index-container31 {
    width: 300px;
  }
  .index-navlink7 {
    margin-top: var(--dl-space-space-doubleunit);
    text-align: left;
    margin-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .index-navlink8 {
    margin-top: var(--dl-space-space-unit);
    text-align: left;
    margin-bottom: var(--dl-space-space-halfunit);
    text-decoration: none;
  }
  .index-links-container {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    padding-left: 35;
    justify-content: flex-start;
  }
  .index-container34 {
    width: auto;
    height: 100%;
    position: relative;
    align-items: flex-start;
    margin-left: 50px;
  }
  .index-follow-container {
    margin-left: 0px;
  }
}
